<div class="form-group {{if error "has-error"}}">
  {{#if label}}
    <label class="form-control-label" for="{{elementId}}-input">{{ label }}</label>
  {{/if}}

  {{ input
     type=type
     class="form-control"
     maxlength=maxlength
     id=inputId
     aria-describedby="{{elementId}}-help"
     placeholder=placeholder
     value=value
     disabled=disabled
  }}

  {{#if error}}
    <div class="form-control-feedback">{{ error }}</div>
  {{/if}}

  {{#if hint}}
    <div class="form-text text-muted">{{ hint }}</div>
  {{/if}}
</div>
