<div class="form-group {{if error "has-error"}}">
  {{#if label}}
    <label class="control-label" for="{{elementId}}-input">{{ label }}</label>
  {{/if}}
  {{ input
     type=type
     class="form-control"
     maxlength=maxlength
     id=inputId
     aria-describedby="{{elementId}}-help"
     placeholder=placeholder
     value=value
     disabled=disabled
  }}
  {{#if hint}}
    <span id="{{elementId}}-help" class="help-block">{{ hint }}</span>
  {{/if}}
  {{#if error}}
    <span id="{{elementId}}-feedback" class="help-block">{{ error }}</span>
  {{/if}}
</div>
