{{#if paymentMethod}}
  <div class="row">
    <div class="jumbotron">
      <h2>Moyens de payment</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Card</th>
            <th>Number</th>
            <th>Expiration</th>
            <th>Name on card</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ paymentMethod.type }}</td>
            <td>XXXX-XXXX-XXXX-{{ paymentMethod.lastFour }}</td>
            <td>{{ paymentMethod.expMonth }}/{{ paymentMethod.expYear }}</td>
            <td>{{ paymentMethod.holderName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/if}}

{{payment-details}}
