{{#if paymentMethod}}
  {{#paper-card as |card|}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Vos moyens de paiment</h2>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#card.content class="layout-column layout-align-space-between"}}
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Numéro de carte</th>
            <th>Date d'expiration</th>
            <th>Propriétaire</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ paymentMethod.type }}</td>
            <td>XXXX-XXXX-XXXX-{{ paymentMethod.lastFour }}</td>
            <td>{{ paymentMethod.expMonth }}/{{ paymentMethod.expYear }}</td>
            <td>{{ paymentMethod.holderName }}</td>
          </tr>
        </tbody>
      </table>
    {{/card.content}}
  {{/paper-card}}
{{/if}}

{{payment-details title="Mettre à jour"}}
