<div local-class="header">
  {{phone-number number=conversation.to}}
</div>
<div class="flex-grow scroll-y conversation">
  {{#if messages.loading}}
    Loading
  {{else}}
    {{conversation-messages messages=messages}}
  {{/if}}
</div>
<div>
  <form {{ action "sendMessage" on="submit" }}>
    {{ input placeholder="Message" local-class="message-input" value=message }}
  </form>
</div>
