<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form {{action "finishRegistration" on="submit"}}>
        <fieldset disabled={{isLoading}}>
          <div class="row">
            <div class="col-xs-6">
              {{ paper-input
                 label="Prénom"
                 value=firstName
                 onChange=(action (mut firstName))
                 required=true
                 errorMessages=firstNameError
              }}
            </div>
            <div class="col-xs-6">
              {{ paper-input
                 label="Nom"
                 value=lastName
                 onChange=(action (mut lastName))
                 required=true
                 errorMessages=lastNameError
              }}
            </div>
          </div>

          {{ input-field
             label="Mot de passe"
             placeholder="Choisissez un mot de passe"
             error=passwordError
             value=password
             type="password"
          }}

          {{ input-field
             label="Adresse email"
             error=emailError
             value=model.email
             type="email"
             disabled="true"
          }}

          <button type="submit" class="btn btn-primary btn-block">
            {{#if isLoading}}
              <i class="fa fa-spinner fa-pulse fa-fw"></i>
            {{else}}
              Créer mon compte
            {{/if}}
          </button>

        </fieldset>
      </form>
    </div>
  </div>
</div>
