{{#if isLoading}}
  <div class="layout-column layout-align-center-center">
    {{#paper-card as |card|}}
      {{paper-progress-circular}}
    {{/paper-card}}
  </div>
{{/if}}


{{#unless isLoading}}
  <div class="layout-row layout-align-center">
    <div class="layout-column flex-40">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              Créez mon compte
            {{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#paper-form onSubmit=(action "finishRegistration") as |form|}}
          {{#card.content class="layout-column layout-align-space-between"}}

            {{#animable-content shake=shakeFirstNameInput}}
              <div class="layout-row">
                  <div class="layout-column flex-100">
                    {{form.input
                      label="Prénom"
                      value=firstName
                      onChange=(action (mut firstName))
                    }}
                  </div>
              </div>
            {{/animable-content}}

            {{#animable-content shake=shakeLastNameInput}}
              <div class="layout-row">
                  <div class="layout-column flex-100">
                    {{form.input
                      label="Nom"
                      value=lastName
                      onChange=(action (mut lastName))
                    }}
                  </div>
              </div>
            {{/animable-content}}

            <div class="layout-row">
              <div class="layout-column flex-100">
                {{form.input
                  label="Adresse email"
                  value=model.email
                   type="email"
                  onChange="_"
                  disabled=true
                }}
              </div>
            </div>

            <div class="layout-row">
              <div class="layout-column flex-100">
                {{form.input
                  type="password"
                  label="Mot de passe"
                  value=password
                  onChange=(action (mut password))

                }}
              </div>
            </div>

            {{#form.submit-button raised=true primary=true }}
              Créer mon compte
            {{/form.submit-button}}
          {{/card.content}}
        {{/paper-form}}
      {{/paper-card}}
    </div>
  </div>
{{/unless}}
