<div class="container-fluid dark-background minh-100">
  <div class="row">
    <div class="offset-md-4 col-4 text-center py-5">
      <div class="prestine-logo"></div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-4 px-5 py-4 light-background">
      {{#if error}}
        <div class="alert alert-danger mt-2">{{error}}</div>
      {{else}}
        <form {{ action "submit" on="submit" }}>
          <fieldset disabled={{ isLoading }}>
            <h3 class="mb-3">Choisissez un nouveau mot de passe</h3>

            {{#animable-content shake=shakePasswordInput}}
              {{ input-field value=password label="Mot de passe" placeholder="Mot de passe" type="password" focused=true }}
            {{/animable-content}}

            {{#if isLoading}}
              <button type="submit" class="btn btn-primary"><i class="fa fa-spinner fa-pulse fa-fw"></i></button>
            {{else}}
              <button type="submit" class="btn btn-primary">Valider</button>
            {{/if}}
          </fieldset>
        </form>
      {{/if}}
    </div>
  </div>
</div>
