<div class="container">
  <div class="row">
    <div class="logic-block col-md-8 offset-md-2 p-t-1">
      <h1>Créer un compte</h1>

      {{#if success}}
        <div class="alert alert-success m-t-1" role="alert">
          Vérifiez votre boite mail pour finaliser votre inscription
        </div>
      {{else}}
        {{#if error}}
          <div class="alert alert-danger m-t-1" role="alert">{{error}}</div>
          <button {{ action "retry" }}>Réessayer</button>
        {{else}}
          {{#if isLoading}}
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
          {{else}}
            {{#if showCaptcha}}
              {{re-captcha hl="fr" validated=(action "captchaValidated")}}
            {{else}}

              <form {{action "submitEmail" on="submit"}}>
                <fieldset>
                  <div class={{inputClassNames}}>
                    {{ input-field
                       label="Adresse email"
                       hint="Nous ne partagerons jamais votre adresse email avec un tier."
                       placeholder="Entrez votre adresse email"
                       value=email
                       type="email"
                       classNames=inputClassNames
                    }}
                  </div>

                  <button type="submit" class="btn btn-success btn-block">
                    Créer un compte
                  </button>
                </fieldset>
              </form>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}


      <hr />

      {{#link-to "login" class="btn btn-link btn-block"}}
        Je posséde déjà un compte
      {{/link-to}}
    </div>
  </div>
</div>
