<div class="layout-column dashboard-view">
  <div class="flex-none">
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        {{#link-to "dashboard" class="prestine-logo-dashboard-link"}}
          Prestine
        {{/link-to}}

        <span class="flex"></span>

        {{#paper-button onClick=(action (transition-to "dashboard.credits"))}}
          {{ user.formattedCredit }}
        {{/paper-button}}

        {{#if selectedPhoneNumber}}
          {{#paper-menu isOpen=menuThreeIsOpen offset="0 -5" as |menu|}}
            {{#menu.trigger}}
              {{#paper-button onClick=null}}
                {{selectedPhoneNumber.formated}}
              {{/paper-button}}
            {{/menu.trigger}}

            {{#menu.content as |content|}}
              {{#each availablePhoneNumbers as |phoneNumber| }}
                {{#content.menu-item onClick=(action (transition-to "dashboard.phone-number.phone-number" phoneNumber))}}
                  <span>{{phoneNumber.formated}}</span>
                {{/content.menu-item}}
              {{/each}}

              {{#content.menu-item onClick=(action (transition-to "dashboard.phone-number.new"))}}
                <span>Obtenir un numero</span>
              {{/content.menu-item}}
            {{/menu.content}}
          {{/paper-menu}}
        {{/if}}

        {{#paper-button onClick=(action (transition-to "dashboard.settings"))}}
          {{userLinkLabel}}
        {{/paper-button}}

        {{#paper-button iconButton=true onClick=(action "logout")}}
          {{paper-icon "exit to app"}}
        {{/paper-button}}

        {{#paper-button iconButton=true onClick=(action (transition-to "contact"))}}
          {{paper-icon "help"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
  </div>
  <div class="dashboard-view">
    {{#if selectedPhoneNumber}}
      {{#if user.accountDisabled}}
        <div class="account-disabled-alert">
          Votre compte est desactivé. Rechargez votre compte pour le réactiver.
          <br/>
          {{#paper-button raised=true warn=true onClick=(action (transition-to "dashboard.credits"))}}
            Recharger mon compte
          {{/paper-button}}
        </div>
      {{/if}}
    {{/if}}
    {{outlet}}
  </div>
</div>
