{{phone-dialer}}

{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "dashboard" class="prestine-logo-small"}}{{/link-to}}

    <span class="flex"></span>

    {{#paper-menu isOpen=menuThreeIsOpen offset="0 -5" as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null}}
          {{selectedPhoneNumber.formated}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content as |content|}}
        {{#each availablePhoneNumbers as |phoneNumber| }}
          {{#content.menu-item onClick=(action (transition-to "dashboard.phone-number.phone-number" phoneNumber))}}
            <span>{{phoneNumber.formated}}</span>
          {{/content.menu-item}}
        {{/each}}

        {{#content.menu-item onClick=(action (transition-to "dashboard.phone-number.new"))}}
          <span>Obtenir un numero</span>
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}

    {{#paper-button onClick=(action (transition-to "dashboard.settings"))}}
      {{userLinkLabel}}
    {{/paper-button}}

    {{#paper-button iconButton=true onClick=(action "logout")}}
      {{paper-icon "exit to app"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}


{{outlet}}
