{{#if isLoading}}
  <div class="layout-column layout-align-center-center">
    {{#paper-card as |card|}}
      {{paper-progress-circular}}
    {{/paper-card}}
  </div>
{{/if}}

{{#unless isLoading}}
  {{#paper-card as |card|}}
    {{#if title}}
      {{#card.title as |cardTitle|}}
        {{#cardTitle.text as |text|}}
          {{#text.headline}}
            {{title}}
          {{/text.headline}}
        {{/cardTitle.text}}
      {{/card.title}}
    {{/if}}

    {{#paper-form onSubmit=(action "createContactDetails") as |form|}}
      {{#card.content class="layout-column layout-align-space-between"}}

        <div class="layout-row">
          <div class="layout-column flex-50">
            {{form.input
              label="Prénom"
              value=firstName
              type="text"
              onChange=(action (mut firstName))
              required=true
            }}
          </div>
          <div class="layout-column flex-50">
            {{form.input
              label="Nom"
              value=lastName
              type="text"
              onChange=(action (mut lastName))
              required=true
            }}
          </div>
        </div>

        <div class="layout-row">
          <div class="layout-column flex-100">
            {{form.input
              label="Adresse"
              value=street
              type="text"
              onChange=(action (mut street))
              required=true
            }}
          </div>
        </div>

        <div class="layout-row">
          <div class="layout-column flex-50">
            {{form.input
              label="Ville"
              value=city
              type="text"
              onChange=(action (mut city))
              required=true
            }}
          </div>

          <div class="layout-column flex-50">
            {{form.input
              label="Code postal"
              value=postalCode
              type="text"
              onChange=(action (mut postalCode))
              required=true
            }}
          </div>
        </div>

        <div class="layout-row">
          <div class="layout-column flex-100">
            {{#form.select
              label="Region"
              options=regions
              selected=region
              required=true
              searchField="name"
              onChange=(action (mut region))
              as |region|
            }}
              {{region.name}}
            {{/form.select}}
          </div>
        </div>
      {{/card.content}}

      {{#card.actions}}
        {{#form.submit-button disabled=isLoading raised=true primary=true }}
          Valider
        {{/form.submit-button}}
      {{/card.actions}}
    {{/paper-form}}
  {{/paper-card}}
{{/unless}}
