<!doctype html>
<html lang="en">
  <head>
    <title>Payout report</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8000/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8000/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Payout Report: {{formatDate globalStats.now day="numeric" month="long" year="numeric"}}</h1>

      <h3>Global Stats</h3>

      <table class="table table-striped">
        <tr>
          <th>Average number of missions per customer</th>
          <td>
            {{ globalStats.client_avg }}
          </td>
        </tr>

        <tr>
          <th>Max number of missions per customer</th>
          <td>
            {{ globalStats.client_max }}
          </td>
        </tr>

        <tr>
          <th>Average number of missions per provider</th>
          <td>
            {{ globalStats.provider_avg }}
          </td>
        </tr>
        <tr>
          <th>Max number of missions per provider</th>
          <td>
            {{ globalStats.provider_max }}
          </td>
        </tr>
      </table>


      {{#each currencyStats}}
        <h3>{{ price_currency }}</h3>

        <table class="table table-striped">
          <tr>
            <th>Sales Total</th>
            <td>
              {{formatNumber
                sum
                style="currency"
                currency=price_currency
              }}
            </td>
          </tr>

          <tr>
            <th>Gross income</th>
            <td>
              {{formatNumber
                gross_income
                style="currency"
                currency=price_currency
              }}
            </td>
          </tr>

          <tr>
            <th>Min</th>
            <td>
              {{formatNumber
                min
                style="currency"
                currency=price_currency
              }}
            </td>
          </tr>
          <tr>
            <th>Max</th>
            <td>
              {{formatNumber
                max
                style="currency"
                currency=price_currency
              }}
            </td>
          </tr>
          <tr>
            <th>AVG</th>
            <td>
              {{formatNumber
                avg
                style="currency"
                currency=price_currency
              }}
            </td>
          </tr>
        </table>
      {{/each}}


      <h3>Details</h3>

      <h4>Euro</h4>

      <table class="table table-striped table-bordered">
         <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Provider</th>
            <th scope="col">Customer</th>
            <th scope="col">Length</th>
            <th scope="col">Cost (per hour)</th>
            <th scope="col">Total cost</th>
          </tr>
        </thead>
        <tbody>
          {{#each missionsStats}}
            <tr>
              <th scope="row">
                {{ id }}
              </th>
              <td>{{ provider }}</td>
              <td>{{ client }}</td>
              <td>{{duration length}}</td>
              <td>
                {{formatNumber
                  price
                  style="currency"
                  currency=price_currency
                }}
              </td>
              <td>
                {{formatNumber
                  total_cost
                  style="currency"
                  currency=price_currency
                }}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
