<div class="container-fluid dark-background minh-100">
  <div class="row">
    <div class="offset-md-4 col-4 text-center py-5">
      <img width="200" height="53.66" src="/assets/images/logo.svg" />
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-4 px-5 py-4 light-background">
      <form {{ action "submit" on="submit" }}>
        <fieldset disabled={{ isLoading }}>
          <h3 class="mb-3">Mot de passe oublié</h3>

          {{#animable-content shake=shakeEmailInput}}
            {{ input-field value=email label="Adresse e-mail" placeholder="Adresse e-mail" type="email" focused=true }}
          {{/animable-content}}

          {{#if isLoading}}
            <button type="submit" class="btn btn-primary"><i class="fa fa-spinner fa-pulse fa-fw"></i></button>
          {{else}}
            <button type="submit" class="btn btn-primary">Valider</button>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger mt-2">{{error}}</div>
          {{/if}}
        </fieldset>
      </form>
    </div>
  </div>
</div>
