<div class="container">
  <form {{action "createCard" on="submit"}}>
    <fieldset disabled={{isLoading}}>
      <div class="row">
        <div class="col-12">
          {{ input-field
             label="Card number"
             placeholder="XXXX XXXX XXXX XXXX"
             error=cardNumberError
             value=cardNumber
             type="text"
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ input-field
             label="Card holder"
             placeholder="First name Last name"
             error=cardholderNameError
             value=cardholderName
             type="text"
          }}
        </div>
      </div>
      <div class="row">

        <div class="col-6">
          {{ input-field
             label="Expiration date"
             placeholder="MM / YY"
             error=expirationDateError
             value=expirationDate
             type="text"
          }}
        </div>

        <div class="col-6">
          {{ input-field
             label="CVV"
             placeholder="XXX"
             error=cvcError
             value=cvc
             type="text"
          }}
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block">
        {{#if isLoading}}
          <i class="fa fa-spinner fa-pulse fa-fw"></i>
        {{else}}
          Valider
        {{/if}}
      </button>
    </fieldset>
  </form>
</div>
