<div class="container-fluid dark-background minh-100">
  <div class="row">
    <div class="offset-md-4 col-4 text-center py-5">
      <div class="prestine-logo"></div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-4 px-5 py-4 light-background">
      <form {{ action "login" on="submit" }}>
        <fieldset disabled={{ isLoading }}>
          <h3 class="mb-3">Connexion</h3>

          {{ input-field value=email label="Adresse e-mail" type="email" focused=true }}

          {{ input-field value=password label="Mot de passe" type="password" }}

          <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">
              {{#if isLoading}}
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
              {{else}}
                Connexion
              {{/if}}
            </button>
            {{#link-to "forgot-password"}}Mot de passe oublié ?{{/link-to}}
          </div>

          {{#if error}}
            <div class="alert alert-danger mt-2">{{error}}</div>
          {{/if}}
        </fieldset>
      </form>

      <hr />

      <div class="text-center">
        {{#link-to "signup" class="button button-rounded si-colored"}}
          Je ne posséde pas de compte
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
