<div id="wrapper" class="clearfix">
  <section id="content">
    <div class="content-wrap nopadding">
      <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>
      <div class="section nobg full-screen nopadding nomargin">
        <div class="container vertical-middle divcenter clearfix">
          <div class="row center">
            <a href="index.html"><img width="126" height="100" src="/assets/images/logo-dark_252x200.png" alt="Prestine"></a>
          </div>

          <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
            <div class="panel-body" style="padding: 40px;">
              <form id="login-form" name="login-form" class="nobottommargin" {{ action "login" on="submit" }}>
                <fieldset disabled={{ isLoading }}>
                  <h3>Se connecter</h3>

                  <div class="col_full">
                    <label for="login-form-username">Adresse email:</label>
                    {{ input type="email" id="login-form-username" name="login-form-username" value=email class="form-control not-dark" }}
                  </div>

                  <div class="col_full">
                    <label for="login-form-password">Mot de passe:</label>
                    {{input type="password" id="login-form-password" name="login-form-password" value=password class="form-control not-dark" }}
                  </div>

                  <div class="col_full nobottommargin">
                    <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">
                      {{#if isLoading}}
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                      {{else}}
                        Se connecter
                      {{/if}}
                    </button>
                    {{#link-to "reset-password" class="fright"}}
                      Mot de passe oublié ?
                    {{/link-to}}
                  </div>

                  {{#if error}}
                    <div class="m-t-1 alert alert-danger">{{error}}</div>
                  {{/if}}

                </fieldset>
              </form>

              <div class="line line-sm"></div>

              <div class="center">
                {{#link-to "signup" class="button button-rounded si-colored"}}
                  Je ne posséde pas de compte
                {{/link-to}}
              </div>
            </div>
          </div>

          <div class="row center dark"><small>2017 Prestine - Créez pour vous avec ♥</small></div>

        </div>
      </div>
    </div>
  </section>
</div>
