<div class="layout-row">
  <div class="layout-column flex-20">
    {{#paper-list}}
      {{#paper-item onClick=(action (transition-to "dashboard.settings.account")) as |controls|}}
        {{paper-icon "person"}}
        <p>Mon compte</p>
      {{/paper-item}}

      {{#paper-item onClick=(action (transition-to "dashboard.settings.password")) as |controls|}}
        {{paper-icon "vpn key"}}
        <p>Mot de passe</p>
      {{/paper-item}}

      {{#paper-item onClick=(action (transition-to "dashboard.settings.billing")) as |controls|}}
        {{paper-icon "receipt"}}
        <p>Facturation</p>
      {{/paper-item}}

      {{#paper-item onClick=(action (transition-to "dashboard.settings.payment-methods")) as |controls|}}
        {{paper-icon "credit card"}}
        <p>Moyens de paiment</p>
      {{/paper-item}}
    {{/paper-list}}
  </div>
  <div class="layout-column flex-80">
    {{outlet}}
  </div>
</div>
